{% extends 'listings/base.html' %}

{% block content %}

    <h2>{{ listing.title }}</h2>

    <ul>
        <li>Description: {{ listing.description }}</li>
        <li>Year: {{ listing.year }}</li>
        <li>Sold: {{ listing.sold|yesno }}</li>
        <li>Type: {{ listing.type }}</li>
        <li>Band: <a href="{% url 'band-detail' listing.band.id %}">{{ listing.band }}</a></li>
    </ul>

<a href="{% url 'listing-update' listing.id %}">Edit this listing</a>
<a href="{% url 'listing-delete' listing.id %}">Delete this listing</a>
<a href="{% url 'listing-list' %}">View all listings</a>

{% endblock %}